In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('total.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   provider      2000 non-null   object
 1   sentence      2000 non-null   object
 2   up_votes      2000 non-null   int64
 3   down_votes    2000 non-null   int64
 4   age           1980 non-null   object
 5   gender        1990 non-null   object
 6   accent        2000 non-null   object
 7   locale        2000 non-null   object
 8   segment       0 non-null      float64
 9   sentence_len  2000 non-null   int64
 10  is_asian      2000 non-null   bool
 11  us_eu         2000 non-null   bool
 12  jobName       1000 non-null   object
 13  transcript    1985 non-null   object
 14  wer           2000 non-null   float64
 15  levenshtein   2000 non-null   int64
 16  ser           2000 non-null   int64
 17  filename      1000 non-null   object
 18  confidence    1000 non-null   float64
dtypes: bool(2), float64(3), int64(5), object(9)
memory usage: 269.7+ KB

In [4]:
df['accent'].unique()

array(['hongkong', 'indian', 'malaysia', 'philippines', 'singapore',
       'australia', 'canada', 'england', 'ireland', 'newzealand',
       'scotland', 'us', 'wales'], dtype=object)

In [5]:
df = df[df['accent'] != 'scotland']

In [6]:
df['char_len'] = df['sentence'].apply(lambda x: len(x))

In [7]:
compare = df[['sentence','transcript']]

In [8]:
import collections

In [9]:
word_map = collections.defaultdict(map)

for i, row in compare.iterrows():
    corpus_words = row['sentence'].split()
    predicted_words = row['transcript'].split()
    print(corpus_words)
    print(predicted_words)
    break

['at', 'first', 'they', 'were', 'considered', 'stegosaurus', 'exemplars']
['at', 'first', 'they', 'were', 'considered', 'stegosaurus', 'exemplars']

In [10]:
df['ld_normal'] = df['levenshtein'] / df['char_len']

In [11]:
aws = df[df['provider'] == 'Amazon']

In [12]:
google = df[df['provider'] == 'Google']

In [17]:
aws.groupby('is_asian')['wer'].describe()

          count      mean       std  min  25%       50%       75%       max
is_asian
False     431.0  0.113835  0.152183  0.0  0.0  0.071429  0.166667  0.785714
True      500.0  0.177692  0.196396  0.0  0.0  0.142857  0.285714  1.000000

In [18]:
google.groupby('is_asian')['wer'].describe()

          count      mean       std  min  25%       50%      75%       max
is_asian
False     431.0  0.233794  0.258075  0.0  0.0  0.153846  0.36039  1.333333
True      500.0  0.307415  0.289443  0.0  0.0  0.250000  0.50000  1.000000